body {
    background-image: url("./images/portfolio-background.png");
    background-repeat: no-repeat;
    background-position: contain;
    background-size: 100;
}

/* .App {
    text-align: center;
} */

/* img {
    max-width: 150px;
    margin: 2px;
} */

/* .bg {
    background-image: url("./images/portfolio-background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} */